body{
    background-color: white;
    min-height: 100vh;
}

:where(.css-dev-only-do-not-override-18xcoax).ant-menu-dark .ant-menu-submenu-selected >.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-18xcoax).ant-menu-dark>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title {
    color: #ffffff;
}